/****** General ***********/

/* Applique une police globale et un box-model pour inclure padding et border dans la largeur/hauteur d'un élément */
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box; /* Change le modèle de boîte par défaut pour inclure padding et border dans la largeur/hauteur */
}

/* Variables CSS globales pour faciliter la maintenance et la cohérence du design */
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
/* Styles spécifiques pour le corps du document */
body {
    display: flex;
    justify-content: center;
}
/* Flexbox utilitaire pour permettre l'enroulement des éléments enfants */
.d-flex {
    display: flex;
    flex-wrap: wrap; /* Les enfants de flex passent à la ligne suivante si nécessaire */
}

.maximize {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px auto;
    padding: 5px;
    width: 50% !important;
    z-index: 1000;
    cursor: auto !important;
    overflow: auto !important;
}

.maximize img {
    height: 300px !important;
}

.maximize:hover {
    transform: none !important;
}

.d-none {
    display: none;
}

.pt-3 {
    padding-top: 0.8rem;
}

.p-3 {
    padding: 0.8rem;
}

/* Alignement du texte à gauche pour les éléments avec cette classe */
.text-start {
    text-align: start;
}

/* Espacement entre les éléments flex */
.gap-2 {
    gap: 0.5rem; /* Espacement de 0.5 rem entre les éléments */
}
/* Padding horizontal pour les éléments avec cette classe */
.px-3 {
    padding: 0 1rem;
}
/* Styles pour l'en-tête */
header {
    display: flex;/* Utilise flexbox pour aligner les éléments horizontalement */
    justify-content: space-between; /* Espacement maximal entre les enfants */
    align-items: center;
    padding: 20px 20px;
}

.logo img {
    
    width: 61.09px;
    height: 19px;
    top: 30px;
    left: 50px;
    gap: 0px;
   

}

/* Cache les éléments avec cette classe sur les grands écrans */
.d-lg-none {
    display: none; /* Cache l'élément */
}
/* Styles pour la liste de navigation */
nav ul {
    list-style: none;
    display: flex;/* Affiche les éléments de la liste en ligne */
    top: 16px;
    gap: 68px;/* Espacement entre les éléments de la liste */
    
    width: 344px;
    height: 35px;
    left: 1096px;
    padding-left: 100px;
   
    margin: 0;
}
/* Styles pour les liens dans la navigation */
nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    position: relative; 
    padding: 10px 0; /* Padding vertical pour les liens */
}
/* Barre décorative qui apparaît sous le lien au survol */
nav a::before {   /*barre bleue */
    content: ''; /* Nécessaire pour afficher le pseudo-élément */
    position: absolute;/* Positionnement absolu par rapport au lien */
    width: 100%;/* Largeur totale du lien */
    height: 5px;/* Hauteur de la barre */
    background-color: #0065FC;/* Couleur bleue de la barre */ 
    top: -20px;/* Position au-dessus du lien */ 
    left: 0;/* Aligné à gauche */
    display: none;/* Cache initialement la barre */ 
}
/* Affiche la barre décorative sous le lien lors du survol ou du focus */
nav a:hover::before,
nav a:focus::before {
    display: block; /* Affiche au survol */
}
/* Change la couleur du lien au survol et au focus */
nav a:hover {
    color: blue;/* Change la couleur en bleu */
}

nav a:focus {
    color: blue;
}
/* Styles pour les icônes solides, utilise la couleur principale */
.fa-solid {
    color: var(--main-color);
}
/* Styles pour la barre de recherche */
.search-bar {
    display: flex;/* Utilise flexbox pour aligner les éléments horizontalement */
    align-items: center;
    background-color: #f5f5f5;/* Couleur de fond légère pour la barre */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);/* Ombre portée pour la profondeur */
    margin-top: 20px;
    max-width: 450px;
    height: 50px;/* Hauteur fixe */
}
/* Styles pour l'icône de localisation dans la barre de recherche */
.search-bar .location-icon {
    padding: 10px 20px;/* Padding autour de l'icône */
    background-color: #F2F2F2;/* Couleur de fond légère */ 
    display: flex; /* Utilise flexbox pour centrer l'icône */
    align-items: center;
    justify-content: center;/* Centre horizontalement l'icône */
    height: 100%;
    
}
/* Styles pour l'icône elle-même */
.search-bar .location-icon i {
    font-size: 18px;/* Taille de l'icône */
    color: black;/* Couleur de l'icône */
    
}
/* Styles pour le champ de texte de la barre de recherche */
.search-bar input[type="text"] {
    border: none;/* Supprime la bordure */
    padding: 10px;/* Padding autour du texte */
    flex-grow: 1;/* Permet au champ de texte de prendre tout l'espace disponible */
    font-size: 16px;/* Taille de la police du texte */
    outline: none;/* Supprime le contour par défaut lors de la focalisation */
    font-weight: bold;/* Rend le texte en gras */
    height: 100%;
}
/* Styles pour le bouton de recherche */
.search-bar button {
    background-color: #0065FC;/* Couleur de fond bleue */
    color: white;
    border: none;
    padding: 10px 20px;/* Padding autour du texte */
    font-size: 16px;
    cursor: pointer;/* Change le curseur en pointeur */
    border-radius: 0 15px 15px 0;/* Arrondit les coins droits */
    height: 100%;
}


/* Styles pour le conteneur des filtres */
.filters {
    display: flex;/* Utilise flexbox pour aligner les éléments horizontalement */
    gap: 10px;/* Espacement entre les boutons */
    margin: auto;/* Centre le conteneur horizontalement */
    padding: 25px 10px;/* Padding autour des éléments */
    align-items: center;
}
/* Styles pour le texte des filtres */
.filter-text {
    font-weight: bold;/* Texte en gras */
    color: black;/* Texte noir */
}
/* Styles pour les boutons de filtre */
.filter-button {
    display: flex;/* Utilise flexbox pour aligner l'icône et le texte */
    align-items: center;
    gap: 8px;/* Espacement entre l'icône et le texte */
    padding: 10px 20px;
    background-color: #fff;
    border: 2px solid #e0e0e0;/* Bordure grise légère */
    border-radius: 25px;/* Coins fortement arrondis */
    font-size: 16px;
    color: black;/* Texte noir */
    cursor: pointer;/* Change le curseur en pointeur */
    transition: background-color 0.3s, border-color 0.3s;/* Transition douce pour le fond et la bordure */
}
/* Styles pour l'icône dans les boutons */
.filter-button i {
    font-size: 18px;
    color: #0065FC; /* bleue pour les icônes */
}


/* Styles pour le bouton de filtre au survol */
.filter-button:hover {
    background-color: rgba(0, 101, 252, 0.1); /* Filtre bleu clair sur le survol */
    border-color: #D9D9D9; /* Bordure gris sur le survol */
}

/* Styles pour la mise en forme du paragraphe d'information */
.info-paragraph {
    display: flex;/* Utilise flexbox pour aligner les icônes et le texte */
    align-items: center;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    gap: 3px;
}
/* Styles pour l'icône d'information */
.info-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px; 
    height: 20px; 
    border: 2px solid #e0e0e0;
    border-radius: 50%;
    margin-right: 10px;
}

/* Styles pour l'icône à l'intérieur de .info-icon */
.info-icon i {
    color: #0065FC; 
    font-size: 14px; 
}
/* Styles pour le conteneur principal de la page */
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
/* Styles pour les liens globaux */
a {
    color: inherit;
    text-decoration: none;
}
/* Styles pour les titres de section */
.section-title {
    margin: 0;
    font-size: 22px;
}
/* Styles pour les cartes de contenu */
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
/* Styles pour les images dans les cartes */
.card img {
    object-fit: cover;
}
/* Styles pour les titres dans les cartes */
.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;/* Utilise flexbox pour aligner horizontalement les sections */
    justify-content: space-between;
}
/* Styles communs pour les sections hébergements et populaires */
.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    
}

.hebergements {
    background-color: var(--main-bg-color);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hebergements h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.hebergements-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.hebergement-card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 100%;
    min-height: 250px;
    cursor: pointer;
}

.hebergement-card:hover {
    transform: translateY(-5px);
}

.hebergement-card img {
    width: 100%;
    object-fit: cover;
    height: 120px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border: 5px solid white; 
    border-bottom: none; 
    box-sizing: border-box; 
}



.hebergement-card .card-content {
    padding: 15px;
    text-align: start;
}

.hebergement-card h3 {
    margin: 0 0 10px;
    font-size: 18px;
}

.hebergement-card p {
    margin: 0 0 10px;
    color: #555;
    text-align: start;
    margin-bottom: 10px;
}

.hebergement-card .card-rating {
    display: flex;
    align-items: center;
}

.hebergement-card .card-rating i {
    color: #0065FC;
}

.hebergement-card .card-rating i.neutral-star {
    color: #F2F2F2; 
}

.load-more {
    margin-top: 20px;
    padding: 10px 20px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    background: none;
    border: none;
   
}

.price {
    color: black; 
    
}




/****** Populaires ***********/
.populaires {
    width: 32%;   
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    width: 100%;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.activites {
    width: 100%;
    background-color: transparent;
    padding: 20px;
    margin-top: 20px; 
}

.activites h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.activites-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
}

.activite-card {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column; 
    justify-content: start;
    width: 250px;
    min-height: 230px;
    cursor: pointer;
}

.activite-card .card-content {
    padding: 2rem 0;
    text-align: center;
}

.activite-card:hover {
    transform: translateY(-5px);
}

.activite-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.activite-card p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.activites {
    margin-bottom: 40px; 
}


.activites {
    margin-bottom: 40px; 
}


.footer {
    background-color: #f4f4f4;
    padding: 40px 20px; 
}

.footer-container {
    display: flex; 
    justify-content: space-between; 
    max-width: 1200px;
    margin: 0 auto; 
}

.footer-section {
    flex: 1; 
    padding: 0 20px; 
}

.footer-section h3 {
    font-size: 16px; 
    margin-bottom: 10px; 
    font-weight: bold; 
}

.footer-section ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

.footer-section ul li {
    margin-bottom: 8px; 
}

.footer-section ul li a {
    text-decoration: none; 
    color: #333; 
    transition: color 0.3s; 
}

.footer-section ul li a:hover {
    color: #000; 
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        gap: 20px;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 48%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activite-card {
       width: 100%;
       flex: 1;
       max-width: 100%;
       
    }

    .activity-card title {
    
        font-size: 14px;

    }


    .filters {
        display: block !important;/* Utilise flexbox pour aligner les éléments horizontalement */
        gap: 10px;/* Espacement entre les boutons */
        margin: auto;/* Centre le conteneur horizontalement */
        padding: 10px;/* Padding autour des éléments */
        align-items: center !important;
    }
    /* Styles pour le texte des filtres */
    .filter-text {
        font-weight: bold;/* Texte en gras */
        color: black;/* Texte noir */
    }
    /* Styles pour les boutons de filtre */
    .filter-button {
        display: flex;/* Utilise flexbox pour aligner l'icône et le texte */
        align-items: center;
        gap: 8px;/* Espacement entre l'icône et le texte */
        padding: 10px 20px;
        background-color: #fff;
        border: 2px solid #e0e0e0;/* Bordure grise légère */
        border-radius: 25px;/* Coins fortement arrondis */
        font-size: 13px;
        color: black;/* Texte noir */
        cursor: pointer;/* Change le curseur en pointeur */
        transition: background-color 0.3s, border-color 0.3s;/* Transition douce pour le fond et la bordure */
    }
    /* Styles pour l'icône dans les boutons */
    .filter-button i {
        font-size: 14px;
        color: #0065FC; /* bleue pour les icônes */
    }
    
    
    /* Styles pour le bouton de filtre au survol */
    .filter-button:hover {
        background-color: rgba(0, 101, 252, 0.1); /* Filtre bleu clair sur le survol */
        border-color: #D9D9D9; /* Bordure gris sur le survol */
    }

    .maximize {
        width: 80% !important;
    }

    .activite-card img {
        height: 150px !important;
    }

    .maximize img {
        height: 300px !important;
    }

    .main-container {
        padding: 0 20px;
    }

    .filters .filter-text {
        margin-bottom: 10px;
    }

}

/* Small devices (phones, less than 768px) */

@media (max-width: 767px) {
    body {
        margin: 0;
        padding: 0;
        font-family: 'Raleway', sans-serif;
        
    }

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    header {
        width: 100%;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-bottom: none;
    }

    .logo img {
        width: 80px;
        height: auto;
        margin-bottom: 30px;
    }

    nav {
        width: 100%;
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        gap: 0;
        top: 0;
        left: 0;
        width: auto;
    }

    nav li {
        text-align: center;
        width: 100%;
        border-bottom: 2px solid #ccc;
    }

    nav li.active {
        border-bottom: 2px solid #0065FC;
    }

    nav li.active a {
        color: #0065FC;
    }

    nav a {
        text-decoration: none;
        font-weight: 500;
        position: relative;
        padding: 5px;
    }

    nav a:hover::after,
    nav a:focus::after,
    nav a.active::after {
        display: none;
    }

    nav a:hover,
    nav a:focus,
    nav a.active {
        color: inherit;
    }

    h2 {
        font-size: 20px;
        margin: 10px;
    }

    p {
        font-size: 14px;
        margin: 10px;
    }

    .search-bar {
        width: 90%;
        display: flex;
        align-items: center;
        margin: 10px auto;
    }

    .search-bar input[type="text"] {
        width: 100%;
        margin: 5px 0;
        padding: 10px;
        box-sizing: border-box;
    }

    .filters {
        width: 90%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: start;
        gap: 10px;
    }

    .filters button {
        font-size: 14px;
        width: 48%;
    }

    .hebergements-and-populaires {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hebergements, .populaires, .activites {
        width: 90%;
        margin: 10px 0;
    }

    .hebergements-grid, .activites-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .activite-card {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        min-height: 220px;
    }
    
    .activite-card img {
        height: 150px;
    }

    .activite-card p {
        text-align: start;
        padding: 10px 0;
    }

    .hebergement-card, .activite-card {
        width: 100%;
        background-color: white;
        border-radius: 25px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        overflow: hidden;
    }

    .hebergement-card img, .activite-card img {
        width: 100%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        height: auto;
    }

    .footer {
        width: 100%;
        background-color: #f4f4f4;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .footer-container {
        flex-direction: column;
        margin: 0;
    }

    .footer-section {
        width: 90%;
        margin: 10px 0;
    }

    .footer-section h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .footer-section ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .footer-section ul li {
        margin: 5px 0;
    }

    .footer-section ul li a {
        text-decoration: none;
        color: black;
        font-weight: 400;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-subtitle {
        text-align: start;
    }

    header {
        padding-top: 35px;
        margin-bottom: 20px;
    }

    nav a:hover::before,
    nav a:focus::before {
        display: none; /* Affiche au survol */
    }

    .hebergements-and-populaires {
        border: none;
    }

    .hebergements-and-populaires section {
        padding: 5px;
        background: transparent;
    }

    .hebergements {
        order: 2;
        box-shadow: none;
    }

    .hebergement-card img {
      width: 100%;
      object-fit: cover;
      height: 120px; 
      border-top-left-radius: 10px; 
      border-top-right-radius: 10px; 
      border: 5px solid white; 
      border-bottom: none; 
      box-sizing: border-box; 
  }

    .d-md-none {
        display: none;
    }
    .d-lg-none {
        display: block;
    }

    .search-bar button {
        border-radius: 10px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    }
    
    .py-4 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .activites {
        padding: 10px;
    }

    .populaires {
      background-color: #F2F2F2 !important;
      margin-bottom: 20px;
      padding: 20px !important;
      width: 100%;
      border-radius: 0 !important;
    }
    .maximize {
        width: 80% !important;
    }

}


